<menus>
	<home>
		<class>active dropdown</class>
		<id>1</id>
		<active>0</active>
		<title>Adiministracion</title>
		<url>#</url>
		<submenu>
			<title>Perfiles</title>
			<class>active</class>
			<id>8</id>
			<active>0</active>
			<url>/sistema/public/seguridad/perfil</url>
			<hidden>1</hidden>
		</submenu>
		<submenu>
			<title>Usuarios</title>
			<class>active</class>
			<id>2</id>
			<active>0</active>
			/active>
			<url>/sistema/public/seguridad/usuario</url>
			<hidden>true</hidden>
		</submenu>
		<submenu>
			<title>Empresas</title>
			<class>active</class>
			<id>3</id>
			<active>0</active>
			<url>/sistema/public/seguridad/empresa</url>
			<hidden>true</hidden>
		</submenu>
		<submenu>
			<title>Permisos</title>
			<class>active</class>
			<id>5</id>
			<active>0</active>
			<url>/sistema/public/seguridad/permiso</url>
			<hidden>true</hidden>
		</submenu>
	</home>
	<pages>
		<class>active dropdown</class>
		<id>6</id>
		<active>0</active>
		<title>Catalogos</title>
		<url>#</url>
		<submenu>
			<title>Articulos</title>
			<class>active</class>
			<id>7</id>
			<active>0</active>
			<url>/sistema/public/catalogos/articulos</url>
			<hidden>1</hidden>
		</submenu>
		<submenu>
			<title>Archivos</title>
			<class>active</class>
			<id>7</id>
			<active>0</active>
			<url>/sistema/public/catalogos/archivos</url>
			<hidden>1</hidden>
		</submenu>
	</pages>
	<logs>
		<class>active dropdown</class>
		<id>10</id>
		<active>0</active>
		<title>Bitacoras</title>
		<url>#</url>
		<submenu>
			<title>Accesos</title>
			<class>active</class>
			<id>11</id>
			<active>0</active>
			<url>/sistema/public/bitacoras/acceso</url>
			<hidden>1</hidden>
		</submenu>
		<submenu>
			<title>Movimientos</title>
			<class>active</class>
			<id>12</id>
			<active>0</active>
			<url>/sistema/public/bitacoras/movimientos</url>
			<hidden>1</hidden>
		</submenu>
		
	</logs>
</menus>